# Go library for updating DS records with DK Hostmasters proprietary DS Update protocol

[![Codecov](https://codecov.io/gh/arnested/dsupdate/branch/main/graph/badge.svg)](https://codecov.io/gh/arnested/dsupdate)
[![CLA assistant](https://cla-assistant.io/readme/badge/arnested/dsupdate)](https://cla-assistant.io/arnested/dsupdate)
[![PkgGoDev](https://pkg.go.dev/badge/arnested.dk/go/dsupdate)](https://pkg.go.dev/arnested.dk/go/dsupdate)

```go
import "{{ .Import }}"
```

{{ .Doc }}

{{if .Bugs}}
## Bugs
{{range .Bugs}}* {{.}}{{end}}
{{end}}
